/* Contenido principal */
.main-content {
  transition: opacity 0.5s ease-in-out;
}

.main-content.hidden {
  opacity: 0;
}

.main-content.visible {
  opacity: 1;
  animation: fadeInContent 0.5s ease-in-out;
}

/* Keyframe para la entrada del contenido */
@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}